@import url(reset.css);

body{
    
    font-family: Arial ;
    background-color: #00375F;
    
   
    
}

.wrapper{
    width: 1440px;
    height: 1024px;
    overflow: hidden;
    
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    background-position: 0;
    position: relative;
    margin: 0 auto;
    font-size: 0;
    box-sizing: border-box;
    
}



/* ----------------- main_sel----------------- */

.main_sel_web #logo img{
    display: flex;
    padding: 0.16rem 0.48rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.36rem;
    
}


.main_sel_web #logo:hover{
    
    filter:invert(1);
}

/* 手機版首頁logo */
#logo_mobile_index{
    display: none;

    position: absolute;
    text-align: center;
    margin-top: 50px;
}

.main_sel_web{
    display: flex;
    padding: 20px 0;
    justify-content: center;
    align-items: center;
    height: 100px;
    
}

.main_sel_web li{
    display: flex;
    float: left;
    padding: 0.25rem 1.25rem;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    
}

.main_sel_web li a{
    display: block;
    color: #00375F;
    text-decoration: none;
    padding-left: 40px;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 900;
    text-shadow: 3px 3px 3px rgba(255, 255, 255, .25);
}

.main_sel_web li a img{
    width: 24px;
    height: 24px;
    padding-right: 8px;
}

.main_sel_web li a:hover{
    color: white
}

/* 手機版選單 */
.nav{
    display: none;
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: 52px;
    margin: 0 auto;
    
}

.nav #logo_mobile{
    display: none;
}

/* 手機版選單icon */
.nav_mobile{
    display: none;
    position: absolute;
    top: 52px;
    right: 32px;
    width: 24px;
    height: 24px;

}

/* 手機版選單選項內容 */
.nav_mobile_sel{
    display: none;
    float: none;
    position: fixed;
    width: 100%;
    margin: 0 auto;

    

}

.nav_mobile_sel li{

    float: none;
    display: block;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0.25rem;
    background-color: #ffffffb1;
    

    

}

.nav_mobile_sel li a{
    
    display: block;
    width: 100%;
    align-items: flex-start;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 900;
    line-height: normal;
    text-decoration: none;
    color: #00375F;
    gap: 0.75rem;

}

.nav_mobile_sel li:hover{
    background-color: #00375F;
    
}

.nav_mobile_sel li a:hover{
    
    color: white;
}


.nav_mobile_sel li a img{
    width: 1.5rem;
    height: 1.5rem;

}



#logo_mobile{
    display: block;
    position: absolute;
    top: 52px;
    left: 32px;
}



/* ----------------- title -----------------*/
h1{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    color: #FF9500;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    line-height: 3rem;
    margin-bottom: 8;
}

h2{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    color: #FF9500;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 2rem;
    margin-bottom: 20px;
    
}
h4{
    display: flex;
    width: 800px;
    flex-direction: column;
    
    flex-shrink: 0;
    margin: 0 auto;

    color:  #FF9500;

    text-align: center;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.875rem; 
    letter-spacing: 4.8125rem;
    
    
}


/* ----------------- footer -----------------*/

footer{
    display: flex;
    width: 100%;

    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    bottom: 0;
    background-color: rgba(255, 255, 255, .5);
}

footer ul{
    display: flex;
    flex: left;
    width: 1440px;
    padding: 7px 479px;
    justify-content: center;
    align-items: center;
}

footer li{
    display: flex;
    flex: left;
    align-items: center;
    padding-right: 20px;
}

footer p{
    color: #00375F;
    text-align: center;
    justify-content:space-between ;
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 0.4rem;
    
    padding: 5px 0px;
    justify-content: center;
    align-items: center;
}

/*====================== 首頁 index ======================*/

.index .main_sel_web{
    background-color: rgba(255, 255, 255, .5);
    
}

/* 
.banner{
    float: center;
    width: 100px;
    
}

.banner .btn{
    width: 12.5rem;
    height: 1.125rem;
    display: inline-flex;
    justify-content: center;
    align-items: flex-end;
    gap: 2.5rem;
}

.banner .btn li{
    display: inline-flex;
    justify-content: center;
    align-items: flex-end;
    gap: 2.5rem;
}

.banner .btn li a{
    display: block;
}

.banner span{
    display: block;
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 50%;
    color: white 0.5;
} */

.banner_web{
    display: block;
}


.banner_web .pic1{
    display: flex;
    
    position: absolute;
    right: -300%;
    top: 0;
    animation: pic1 10s 1s linear infinite;
    z-index: -1;
}

@keyframes pic1{
    0%{
        right: -300%;
    }
    12.5%{
        right: -300%;
    }
    25%{
        right: -200%;
    }
    37.5%{
        right: -200%;
    }
    50%{
        right: -100%;
    }
    62.5%{
        right: -100%;
    }
    75%{
        right: 0;
    }
    87.5%{
        right: 0;
    }
    100%{
        right: -300%;
    }
    
}


.banner_mobile{
    display: none;
}

.banner_mobile .pic01{
    display: none;
    
    position: absolute;
    right: -300%;
    top: 0;
    animation: pic1 10s 10s linear infinite;
    z-index: -1;
}

@keyframes pic01{
    0%{
        right: -300%;
    }
    12.5%{
        right: -300%;
    }
    25%{
        right: -200%;
    }
    37.5%{
        right: -200%;
    }
    50%{
        right: -100%;
    }
    62.5%{
        right: -100%;
    }
    75%{
        right: 0;
    }
    87.5%{
        right: 0;
    }
    100%{
        right: -300%;
    }
    
}




/*====================== 品牌故事 story ======================*/

.story{
    background-image: url(../img/bg/web/img/bg_story.jpg);
    background-size: cover;
}

/* main_sel */


.story .main_sel_web #logo img{
 
    background-image: url(../img/Logo_web_white.png);
    
}

.story .main_sel_web li a{

    color: white;
 
}


.story .main_sel_web li a:hover{
    color: #FF9500
}


#story #article{
    display: block;
    margin: 0 auto;
    width: 80%;
    height: 80%;
    background-color: rgba(0, 55, 95, .75);
    padding-top: 40px;
    border-radius: 10px;
    
}

#story #article p{
    display: flex;
    width: 90%;
    flex-direction: column;
    flex-shrink: 0;
    margin: 0 auto;
    text-indent: 2em;

    

    color: white;
    font-size: 1.375rem;
    font-weight: 300;
    line-height: 1.6;
}






/*====================== 最新消息 news ======================*/
.news{
    
    background-image: url(../img/bg/web/img/bg_news.jpg);
    
}

#news{
    
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    line-height: 1.2
    
}

#news li{
    width: 50%;
    display: flex;
    flex-direction: row;
    background-color: rgba(255, 255, 255, .5);
    border-radius: 10px;
    align-items:center;
    margin: 4px auto;
    padding: 8px;
}

#news li:nth-child(odd){
    background-color: rgba(255, 255, 255, .25);
}

span{
    transform: rotate(-90deg);
    color: rgba(255, 255, 255, .5);
    text-align: center;
    font-size: 16rem;
    font-weight: 900;
    line-height: normal;
    position: absolute;
    top: 38%;
    left: -5%;

}

.news h5{
    
    font-size: 6rem;
    font-weight: bold;
    color: #FF9500;
    margin-right: 20px;
}

.news h6{
    
    font-size: 2.5rem;
    font-weight: bold;
    color: #FF9500;
    margin-right: 20px;
}

.news h3{
    width: 100%;
    font-size: 1.5rem;
    font-weight: bold;
    color: #00375F;
    text-align: left;
    padding-bottom: 12px;
    padding-left: 8px;
    
}

#news p{
    width: 100%;
    font-size: 1rem;
    text-align: left;
    line-height: 1.3;
    padding-left: 8px;
    color: #00375F;
}



.month{
    display: flex;
    width: 200px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    text-align: center;
}

.date{
    display: flex;
    width: 120px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    text-align: center;
}

.activity{
    width: 280px;
    text-align-last: left;
}


.news .main_sel li a:hover{
    color: #FF9500
}




/*====================== 菜單總覽 menu ======================*/

.menu{
    background-image: url(../img/bg/web/img/bg_menu.jpg);
}

.menu .main_sel_web li a{
    color: white;
}

#menu img{
    background-image: url(../web報告/img/menu_web.jpg);
    display: block;
    margin: 0 auto;
}


.menu .main_sel_web li a:hover{
    color: #FF9500
}



/*====================== 聯絡資訊 contact ======================*/
.contact{
    background-image: url(../img/bg/web/img/bg_contact.jpg);
}
.contact .main_sel_web li a{
    color: white;
}

.contact .main_sel_web li a:hover{
    color: #FF9500
}

#qrcode{
    width: 100%; 
}

#qrcode img{
    
    display: block;
    margin: 20px auto;
    width: 60%;
    text-align: center;
}
.contact iframe{
    display: block;
    width: 80%;
    height: 70%;
    
    margin: 10px auto;
}

h4{
    letter-spacing: 5rem;
    color:  #FF9500;
    text-align: center;
    
}

/*=============================== mobile mode 390px ===============================*/
@media screen and (max-width: 390px){
 body{
    width: auto;
    font-size: 0;
 }  

 .wrapper{
    
    width: 390px;
    height: 844px;
 }

 .nav #logo_mobile{
    display: block;
 }

 .main_sel_web{
    display: none;
 }

 .main_sel_mobile{
    display: block;
 }

 footer{
    width: 100%;
    font-size: 0.7rem;
    line-height: 0.5rem;
 }

 footer ul li{
    padding-right: 0.125rem;
    gap: 0.012rem;
 }


 
 /* 手機版選單 */
 .nav{
    display: block;
    width: 90%;
    display: flex;
    justify-content: space-between;
    top: 52px;
    margin: 0 auto;
    
 }

 /* 手機版選單icon */
 .nav_mobile{
    display: block;
    position: absolute;
    top: 60px;
    right: 32px;
    width: 24px;
    height: 24px;
    order: -1;

 }

 /* .nav_mobile:hover ~ .nav_mobile_sel{
    top: 50px;
 } */

 /* 手機版選單選項內容 */
 .nav_mobile_sel{
    display: block;
    float: none;
    position: fixed;
    width: 50%;
   
    margin: 0 auto;

    position: absolute;
    top: 80px;
    right: 0;
    border-radius: 10px;
    z-index: 9999;

 }

 .nav_mobile_sel li{
    width: 70%;
    float: none;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.25rem;
    background-color: #ffffffc9;
    margin: 8px auto;
    border-radius: 10px;
    

    

 }

 .nav_mobile_sel li a{
    
    /* display: block; */
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    font-size: 1.25rem;
    font-weight: 900;
    line-height: normal;
    text-decoration: none;
    color: #00375F;
    padding-left: 8px;
    gap: 0.75rem;
    

 }

 .nav_mobile_sel li:active{
    background-color: #00375F;
    
 }

 .nav_mobile_sel li a:active{
    
    color: white;
 }


 .nav_mobile_sel li a img{
    width: 1.5rem;
    height: 1.5rem;

 }



 #logo_mobile{
    display: block;
    position: absolute;
    top: 52px;
    left: 32px;
 }

 /* #logo_mobile_idex{
    margin: 50 auto;
 } */


 /*====================== 首頁 index ======================*/
 .index{
        
    background-image: url(../img/bg/mobile/bg_index_mobile.jpg);
    background-size: cover;
 }

  .index  #logo_mobile_index{
    display: block;
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    margin: auto;
  }


 .banner_mobile{
    display: block;
 }

 .banner_mobile .pic01{
    display: flex;
    
    position: absolute;
    right: -300%;
    top: 0;
    animation: pic1 10s 1s linear infinite;
    z-index: -1;
 }

 @keyframes pic01{
    0%{
        right: -300%;
    }
    12.5%{
        right: -300%;
    }
    25%{
        right: -200%;
    }
    37.5%{
        right: -200%;
    }
    50%{
        right: -100%;
    }
    62.5%{
        right: -100%;
    }
    75%{
        right: 0;
    }
    87.5%{
        right: 0;
    }
    100%{
        right: -300%;
    }
        
 }


 /*====================== 品牌故事 story ======================*/
 .story{
    background-image: url(../img/bg/mobile/bg_story_mobile.jpg);
    background-size: cover;
 }
 #story{
    position: absolute;
    top: 100px;
 }

 #story #article{
    position: relative;
    width: 80%;
    height: 90%;
    padding: 16px;
 }

 #story #article p{

    margin: 0 auto;
    width: 95%;
    font-size: 1rem;
 }





    /*====================== 最新消息 news ======================*/
    .news{

        background-image: url(../img/bg/mobile/bg_news_mobie.jpg);
        background-size: cover;
        
        
    }

    .main{
        width: 100%;
        position: absolute;
        top: 100px;
        margin: 0 auto;
    }

    
    #news{
        width: 90%;
        display: flex;
        flex-direction: column;
        
        justify-content: center;
        
        line-height: 1.2
        
    }
    
    #news li{
        width: 90%;
        display: flex;
        flex-direction: row;
        background-color: rgba(255, 255, 255, .5);
        border-radius: 10px;
        align-items:center;
        margin: 4px auto;
        padding: 8px;
    }
    
    #news li:nth-child(odd){
        background-color: rgba(255, 255, 255, .25);
    }
    
    span{
        
        transform: rotate(0deg);
        color: rgba(255, 255, 255, .5);
        text-align: center;
        font-size: 8rem;
        font-weight: 900;
        line-height: normal;
        position: absolute;
        top: 95%;
        left: 5%;
    
    }
    
    .news h5{
        
        font-size: 1.5rem;
        font-weight: bold;
        color: #FF9500;
        margin-right: 0.25rem;
    }
    
    .news h6{
        
        font-size: 0.875rem;
        font-weight: bold;
        color: #FF9500;
        margin-right: 0.25rem;
    }
    
    .news h3{
        width: 100%;
        font-size: 0.875rem;
        font-weight: bold;
        color: #00375F;
        text-align: left;
        padding-bottom: 12px;
        padding-left: 4px;
        
    }
    
    #news p{
        width: 100%;
        font-size: 0.75rem;
        text-align: left;
        line-height: 1.3;
        padding-left: 4px;
        color: #00375F;
    }
    
    
    
    .month{
        display: flex;
        width: 3rem;
        flex-direction: column;
        justify-content: center;
        flex-shrink: 0;
        text-align: center;
    }
    
    .date{
        display: flex;
        width: 3rem;
        flex-direction: column;
        justify-content: center;
        flex-shrink: 0;
        text-align: center;
    }
    
    .activity{
        width: 100%;
        text-align-last: left;
    }
    
    
    .news .main_sel li a:hover{
        color: #FF9500
    }
    

    /*====================== 菜單總覽 menu ======================*/

    .menu{
        background-image: url(../img/bg/mobile/bg_menu_mobie.jpg);
    }

    .main{
        position: absolute;
        top: 100px;
    }

    #menu{
    
        margin: auto;
    }


 /*====================== 聯絡資訊 contact ======================*/

 .contact{
    width: 390px;
    height: 844px;
    background-image: url(../img/bg/mobile/bg_contact_mobie.jpg);
    
 }

 #qrcode{
    width: 100%;
    height: 50%;
    position: absolute;
    top: 100px;
    margin: 0 auto;
    
 }

 #qrcode img{
    width: 90%;
    margin: 2rem auto;
 }
 .contact iframe{
    width: 80%;
    height: 80%;
    border-radius: 10px;
 }
 .contact h4{
    width: 26rem;
    color: #FF9500;
    text-align: center;
    font-size: 0.25rem;
    font-weight: 400;
    line-height: 1.875rem;
    letter-spacing: 2rem;
    padding-top: 12px;
    
 }
   

}




